PORT=3000
XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=
DATABASE_URL="postgresql://postgres:change-me@db:5432/xendit_payment?schema=public"
PAYMENT_SUCCESS_REDIRECT_URL=

# database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=xendit_payment
