PORT=3000
XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=
DATABASE_URL="postgresql://postgres:postgres@db:5432/xendit_payment?schema=public"
# DATABASE_URL="file:./payment.db"

# database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=xendit_payment